In [41]:
import os
import numpy as np
import pandas as pd

In [42]:
dir_data = './data/'

In [43]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

In [44]:
?pd.read_csv

In [45]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [56]:
# 資料的 row 數以及 column 數
# 列出所有欄位
app_train.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 122 columns):
SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE              object
CODE_GENDER                     object
FLAG_OWN_CAR                    object
FLAG_OWN_REALTY                 object
CNT_CHILDREN                    int64
AMT_INCOME_TOTAL                float64
AMT_CREDIT                      float64
AMT_ANNUITY                     float64
AMT_GOODS_PRICE                 float64
NAME_TYPE_SUITE                 object
NAME_INCOME_TYPE                object
NAME_EDUCATION_TYPE             object
NAME_FAMILY_STATUS              object
NAME_HOUSING_TYPE               object
REGION_POPULATION_RELATIVE      float64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
DAYS_REGISTRATION               float64
DAYS_ID_PUBLISH                 int64
OWN_CAR_AGE                     float64
FLAG_MOBIL                      int64
FLAG_EMP_PHONE                  int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
OCCUPATION_TYPE                 object
CNT_FAM_MEMBERS                 float64
REGION_RATING_CLIENT            int64
REGION_RATING_CLIENT_W_CITY     int64
WEEKDAY_APPR_PROCESS_START      object
HOUR_APPR_PROCESS_START         int64
REG_REGION_NOT_LIVE_REGION      int64
REG_REGION_NOT_WORK_REGION      int64
LIVE_REGION_NOT_WORK_REGION     int64
REG_CITY_NOT_LIVE_CITY          int64
REG_CITY_NOT_WORK_CITY          int64
LIVE_CITY_NOT_WORK_CITY         int64
ORGANIZATION_TYPE               object
EXT_SOURCE_1                    float64
EXT_SOURCE_2                    float64
EXT_SOURCE_3                    float64
APARTMENTS_AVG                  float64
BASEMENTAREA_AVG                float64
YEARS_BEGINEXPLUATATION_AVG     float64
YEARS_BUILD_AVG                 float64
COMMONAREA_AVG                  float64
ELEVATORS_AVG                   float64
ENTRANCES_AVG                   float64
FLOORSMAX_AVG                   float64
FLOORSMIN_AVG                   float64
LANDAREA_AVG                    float64
LIVINGAPARTMENTS_AVG            float64
LIVINGAREA_AVG                  float64
NONLIVINGAPARTMENTS_AVG         float64
NONLIVINGAREA_AVG               float64
APARTMENTS_MODE                 float64
BASEMENTAREA_MODE               float64
YEARS_BEGINEXPLUATATION_MODE    float64
YEARS_BUILD_MODE                float64
COMMONAREA_MODE                 float64
ELEVATORS_MODE                  float64
ENTRANCES_MODE                  float64
FLOORSMAX_MODE                  float64
FLOORSMIN_MODE                  float64
LANDAREA_MODE                   float64
LIVINGAPARTMENTS_MODE           float64
LIVINGAREA_MODE                 float64
NONLIVINGAPARTMENTS_MODE        float64
NONLIVINGAREA_MODE              float64
APARTMENTS_MEDI                 float64
BASEMENTAREA_MEDI               float64
YEARS_BEGINEXPLUATATION_MEDI    float64
YEARS_BUILD_MEDI                float64
COMMONAREA_MEDI                 float64
ELEVATORS_MEDI                  float64
ENTRANCES_MEDI                  float64
FLOORSMAX_MEDI                  float64
FLOORSMIN_MEDI                  float64
LANDAREA_MEDI                   float64
LIVINGAPARTMENTS_MEDI           float64
LIVINGAREA_MEDI                 float64
NONLIVINGAPARTMENTS_MEDI        float64
NONLIVINGAREA_MEDI              float64
FONDKAPREMONT_MODE              object
HOUSETYPE_MODE                  object
TOTALAREA_MODE                  float64
WALLSMATERIAL_MODE              object
EMERGENCYSTATE_MODE             object
OBS_30_CNT_SOCIAL_CIRCLE        float64
DEF_30_CNT_SOCIAL_CIRCLE        float64
OBS_60_CNT_SOCIAL_CIRCLE        float64
DEF_60_CNT_SOCIAL_CIRCLE        float64
DAYS_LAST_PHONE_CHANGE          float64
FLAG_DOCUMENT_2                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
AMT_REQ_CREDIT_BUREAU_HOUR      float64
AMT_REQ_CREDIT_BUREAU_DAY       float64
AMT_REQ_CREDIT_BUREAU_WEEK      float64
AMT_REQ_CREDIT_BUREAU_MON       float64
AMT_REQ_CREDIT_BUREAU_QRT       float64
AMT_REQ_CREDIT_BUREAU_YEAR      float64
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [57]:
# 截取部分資料
app_train.truncate(5,10)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
5,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.0,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.0,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,100014,0,Cash loans,F,N,Y,1,112500.0,652500.0,21177.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0

In [ ]:
# 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子
app_train.head(2)
app_train.tail(2)
app_train.describe()
app_train.dtypes

In [37]:
app_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [38]:
app_train.head(2)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
app_train.tail(2)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [34]:
app_train.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [35]:
app_train.iloc[:5, :5]

   SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR
0      100002       1         Cash loans           M            N
1      100003       0         Cash loans           F            N
2      100004       0    Revolving loans           M            Y
3      100006       0         Cash loans           F            N
4      100007       0         Cash loans           M            N

In [ ]:
app_train.T

In [46]:
app_train.axes

[RangeIndex(start=0, stop=307511, step=1),
 Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
        'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
        'AMT_CREDIT', 'AMT_ANNUITY',
        ...
        'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
        'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
        'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
        'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
        'AMT_REQ_CREDIT_BUREAU_YEAR'],
       dtype='object', length=122)]

In [47]:
app_train.dtypes

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
CNT_CHILDREN                    int64
AMT_INCOME_TOTAL              float64
AMT_CREDIT                    float64
AMT_ANNUITY                   float64
AMT_GOODS_PRICE               float64
NAME_TYPE_SUITE                object
NAME_INCOME_TYPE               object
NAME_EDUCATION_TYPE            object
NAME_FAMILY_STATUS             object
NAME_HOUSING_TYPE              object
REGION_POPULATION_RELATIVE    float64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
DAYS_REGISTRATION             float64
DAYS_ID_PUBLISH                 int64
OWN_CAR_AGE                   float64
FLAG_MOBIL                      int64
FLAG_EMP_PHONE                  int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
OCCUPATION_TYPE                object
CNT_FAM_MEMBERS               float64
                               ...
DEF_30_CNT_SOCIAL_CIRCLE      float64
OBS_60_CNT_SOCIAL_CIRCLE      float64
DEF_60_CNT_SOCIAL_CIRCLE      float64
DAYS_LAST_PHONE_CHANGE        float64
FLAG_DOCUMENT_2                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
AMT_REQ_CREDIT_BUREAU_HOUR    float64
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

In [48]:
app_train.empty

False

In [49]:
app_train.ndim

2

In [50]:
app_train.shape

(307511, 122)

In [51]:
app_train.size

37516342

In [52]:
app_train.values

array([[100002, 1, 'Cash loans', ..., 0.0, 0.0, 1.0],
       [100003, 0, 'Cash loans', ..., 0.0, 0.0, 0.0],
       [100004, 0, 'Revolving loans', ..., 0.0, 0.0, 0.0],
       ...,
       [456253, 0, 'Cash loans', ..., 1.0, 0.0, 1.0],
       [456254, 1, 'Cash loans', ..., 0.0, 0.0, 0.0],
       [456255, 0, 'Cash loans', ..., 2.0, 0.0, 1.0]], dtype=object)

In [53]:
app_train.rank()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,1.0,295099.0,139116.5,254978.0,101462.5,200855.5,107686.0,227803.0,119491.0,151706.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,103504.0
1,2.0,141343.5,139116.5,101224.5,101462.5,47100.0,107686.0,274937.0,288143.0,236262.5,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,35901.0
2,3.0,141343.5,292872.0,254978.0,255218.0,200855.5,107686.0,15693.0,13681.5,5213.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,35901.0
3,4.0,141343.5,139116.5,101224.5,101462.5,200855.5,107686.0,131552.5,92975.0,195846.5,...,152506.0,153664.5,153678.0,153704.5,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,141343.5,139116.5,254978.0,101462.5,200855.5,107686.0,105305.5,153607.5,122879.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,35901.0
5,6.0,141343.5,139116.5,254978.0,101462.5,200855.5,107686.0,61855.0,144645.5,180904.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,232348.5,103504.0
6,7.0,141343.5,139116.5,101224.5,255218.0,200855.5,245931.0,188492.0,299597.5,262378.5,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,238807.0,232348.5,160302.5
7,8.0,141343.5,139116.5,254978.0,255218.0,200855.5,107686.0,295952.0,297835.0,264960.5,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,35901.0
8,9.0,141343.5,139116.5,101224.5,101462.5,200855.5,107686.0,85069.0,260706.5,226938.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,103504.0
9,10.0,141343.5,292872.0,254978.0,101462.5,200855.5,107686.0,131552.5,118638.0,108837.0,...,152506.0,153664.5,153678.0,153704.5,NaN,NaN,NaN,NaN,NaN,NaN
10,11.0,141343.5,139116.5,101224.5,101462.5,200855.5,245931.0,85069.0,192929.5,116719.5,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,238807.0,107709.0,35901.0
11,12.0,141343.5,139116.5,101224.5,101462.5,200855.5,107686.0,925.0,17570.5,28445.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,160302.5
12,13.0,141343.5,139116.5,101224.5,101462.5,200855.5,107686.0,15693.0,3447.0,2566.5,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,238807.0,107709.0,35901.0
13,14.0,141343.5,139116.5,254978.0,255218.0,47100.0,245931.0,250044.5,250260.5,190934.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,103504.0
14,15.0,141343.5,139116.5,101224.5,101462.5,200855.5,107686.0,217099.0,221420.5,220703.0,...,152506.0,153664.5,153678.0,153704.5,NaN,NaN,NaN,NaN,NaN,NaN
15,16.0,141343.5,139116.5,254978.0,255218.0,200855.5,107686.0,169777.5,90747.5,107712.5,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,103504.0
16,17.0,141343.5,139116.5,254978.0,101462.5,47100.0,107686.0,68411.5,152803.0,165360.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,232348.5,35901.0
17,18.0,141343.5,292872.0,101224.5,101462.5,200855.5,245931.0,30391.0,74801.0,50277.5,...,152506.0,153664.5,153678.0,153704.5,NaN,NaN,NaN,NaN,NaN,NaN
18,19.0,141343.5,292872.0,101224.5,101462.5,200855.5,107686.0,85069.0,20824.0,9291.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,35901.0
19,20.0,141343.5,139116.5,101224.5,101462.5,200855.5,245931.0,46681.0,166205.0,86856.5,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,160302.5
20,21.0,141343.5,292872.0,254978.0,255218.0,200855.5,107686.0,131552.5,122486.5,118281.5,...,152506.0,153664.5,153678.0,153704.5,NaN,NaN,NaN,NaN,NaN,NaN
21,22.0,141343.5,139116.5,101224.5,255218.0,200855.5,245931.0,227803.0,276708.0,246088.5,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,232348.5,229383.5
22,23.0,141343.5,139116.5,101224.5,101462.5,47100.0,245931.0,303155.0,148317.0,218872.5,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,245766.5
23,24.0,141343.5,139116.5,101224.5,101462.5,200855.5,107686.0,33535.5,53949.5,143702.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,202212.5
24,25.0,141343.5,139116.5,254978.0,255218.0,47100.0,289865.0,131552.5,57798.0,42301.5,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,35901.0
25,26.0,141343.5,139116.5,101224.5,101462.5,200855.5,107686.0,46681.0,46163.5,30770.5,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,35901.0
26,27.0,295099.0,139116.5,101224.5,101462.5,200855.5,107686.0,85069.0,256012.0,177458.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,256485.5,160302.5
27,28.0,141343.5,139116.5,254978.0,101462.5,200855.5,245931.0,85069.0,100118.0,143292.5,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,35901.0
28,29.0,141343.5,139116.5,254978.0,255218.0,200855.5,107686.0,274937.0,225843.5,297600.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,238807.0,107709.0,103504.0
29,30.0,141343.5,292872.0,254978.0,101462.5,200855.5,107686.0,46681.0,29533.5,16541.0,...,152506.0,153664.5,153678.0,153704.5,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,307482.0,295099.0,139116.5,254978.0,101462.5,200855.5,107686.0,250044.5,89474.0,106122.5,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,202212.5
307482,307483.0,141343.5,139116.5,101224.5,255218.0,200855.5,107686.0,250044.5,149925.0,232536.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,103504.0
307483,307484.0,141343.5,139116.5,101224.5,101462.5,200855.5,107686.0,61855.0,56309.5,76461.5,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,245766.5
307484,307485.0,141343.5,139116.5,101224.5,255218.0,47100.0,107686.0,305258.5,169003.0,235495.0,...,152506.0,153664.5,153678.0,153704.5,NaN,NaN,NaN,NaN,NaN,NaN
307485,307486.0,141343.5,292872.0,101224.5,101462.5,200855.5,245931.0,274937.0,29533.5,16541.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,35901.0
307486,307487.0,141343.5,139116.5,101224.5,255218.0,200855.5,245931.0,282914.5,108228.0,93077.5,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,232348.5,103504.0
307487,307488.0,141343.5,139116.5,254978.0,101462.5,200855.5,107686.0,101961.5,266242.5,210408.5,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,232348.5,263692.0
307488,307489.0,141343.5,139116.5,101224.5,101462.5,47100.0,107686.0,169777.5,13681.5,46335.5,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,256485.5,103504.0
307489,307490.0,295099.0,139116.5,101224.5,101462.5,200855.5,107686.0,250044.5,156868.0,136347.5,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,232348.5,160302.5
307490,307491.0,141343.5,139116.5,254978.0,101462.5,200855.5,107686.0,30391.0,13681.5,20132.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,103504.0
307491,307492.0,141343.5,139116.5,254978.0,255218.0,200855.5,289865.0,46681.0,267956.5,211249.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,232348.5,260694.0
307492,307493.0,141343.5,139116.5,254978.0,255218.0,200855.5,107686.0,305811.0,300249.5,269835.5,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,35901.0
307493,307494.0,141343.5,139116.5,101224.5,101462.5,200855.5,107686.0,131552.5,253501.0,246813.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,232348.5,260694.0
307494,307495.0,141343.5,139116.5,254978.0,255218.0,47100.0,245931.0,274937.0,142441.0,279091.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,261560.5,111117.0,107709.0,103504.0
307495,307496.0,141343.5,139116.5,254978.0,255218.0,47100.0,107686.0,203225.0,229559.5,142260.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,103504.0
307496,307497.0,141343.5,292872.0,101224.5,101462.5,47100.0,107686.0,295952.0,102951.5,80708.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,160302.5
307497,307498.0,141343.5,139116.5,101224.5,255218.0,200855.5,107686.0,203225.0,78479.0,37489.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,255276.0
307498,307499.0,141343.5,139116.5,254978.0,255218.0,200855.5,107686.0,219389.5,289380.0,290127.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,160302.5
307499,307500.0,141343.5,139116.5,101224.5,101462.5,200855.5,107686.0,30391.0,46163.5,42167.5,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,238807.0,232348.5,35901.0
307500,307501.0,141343.5,139116.5,101224.5,101462.5,200855.5,107686.0,269069.0,288597.5,237865.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,238807.0,107709.0,245766.5
307501,307502.0,141343.5,139116.5,101224.5,101462.5,200855.5,305098.0,30391.0,69773.0,36419.5,...,152506.0,153664.5,153678.0,153704.5,NaN,NaN,NaN,NaN,NaN,NaN
307502,307503.0,141343.5,139116.5,101224.5,101462.5,200855.5,245931.0,58966.0,46163.5,28185.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,103504.0
307503,307504.0,141343.5,139116.5,101224.5,101462.5,200855.5,107686.0,85069.0,106327.0,88642.5,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,238807.0,107709.0,160302.5
307504,307505.0,141343.5,139116.5,101224.5,101462.5,200855.5,107686.0,155882.5,101413.5,72380.5,...,152506.0,153664.5,153678.0,153704.5,NaN,NaN,NaN,NaN,NaN,NaN
307505,307506.0,141343.5,139116.5,101224.5,101462.5,200855.5,107686.0,85069.0,46163.5,126872.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,258073.5,107709.0,35901.0
307506,307507.0,141343.5,139116.5,254978.0,101462.5,47100.0,107686.0,169777.5,62675.5,181423.5,...,152506.0,153664.5,153678.0,153704.5,NaN,NaN,NaN,NaN,NaN,NaN
307507,307508.0,141343.5,139116.5,101224.5,101462.5,200855.5,107686.0,22597.0,69773.0,37143.5,...,152506.0,153664.5,153678.0,153704.5,NaN,NaN,NaN,NaN,NaN,NaN
307508,307509.0,141343.5,139116.5,101224.5,101462.5,200855.5,107686.0,155882.5,204086.5,198816.5,...,152506.0,153664.5,153678.0,153704.5,265146.5,132252.0,128728.5,238807.0,107709.0,103504.0
307509,307510.0,295099.0,139116.5,101224.5,101462.5,200855.5,107686.0,188492.0,112109.5,107966.0,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,111117.0,107709.0,35901.0
307510,307511.0,141343.5,139116.5,101224.5,101462.5,47100.0,107686.0,169777.5,199492.0,284680.5,...,152506.0,153664.5,153678.0,153704.5,132183.5,132252.0,128728.5,258073.5,107709.0,103504.0

In [54]:
app_train.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 122 columns):
SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE              object
CODE_GENDER                     object
FLAG_OWN_CAR                    object
FLAG_OWN_REALTY                 object
CNT_CHILDREN                    int64
AMT_INCOME_TOTAL                float64
AMT_CREDIT                      float64
AMT_ANNUITY                     float64
AMT_GOODS_PRICE                 float64
NAME_TYPE_SUITE                 object
NAME_INCOME_TYPE                object
NAME_EDUCATION_TYPE             object
NAME_FAMILY_STATUS              object
NAME_HOUSING_TYPE               object
REGION_POPULATION_RELATIVE      float64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
DAYS_REGISTRATION               float64
DAYS_ID_PUBLISH                 int64
OWN_CAR_AGE                     float64
FLAG_MOBIL                      int64
FLAG_EMP_PHONE                  int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
OCCUPATION_TYPE                 object
CNT_FAM_MEMBERS                 float64
REGION_RATING_CLIENT            int64
REGION_RATING_CLIENT_W_CITY     int64
WEEKDAY_APPR_PROCESS_START      object
HOUR_APPR_PROCESS_START         int64
REG_REGION_NOT_LIVE_REGION      int64
REG_REGION_NOT_WORK_REGION      int64
LIVE_REGION_NOT_WORK_REGION     int64
REG_CITY_NOT_LIVE_CITY          int64
REG_CITY_NOT_WORK_CITY          int64
LIVE_CITY_NOT_WORK_CITY         int64
ORGANIZATION_TYPE               object
EXT_SOURCE_1                    float64
EXT_SOURCE_2                    float64
EXT_SOURCE_3                    float64
APARTMENTS_AVG                  float64
BASEMENTAREA_AVG                float64
YEARS_BEGINEXPLUATATION_AVG     float64
YEARS_BUILD_AVG                 float64
COMMONAREA_AVG                  float64
ELEVATORS_AVG                   float64
ENTRANCES_AVG                   float64
FLOORSMAX_AVG                   float64
FLOORSMIN_AVG                   float64
LANDAREA_AVG                    float64
LIVINGAPARTMENTS_AVG            float64
LIVINGAREA_AVG                  float64
NONLIVINGAPARTMENTS_AVG         float64
NONLIVINGAREA_AVG               float64
APARTMENTS_MODE                 float64
BASEMENTAREA_MODE               float64
YEARS_BEGINEXPLUATATION_MODE    float64
YEARS_BUILD_MODE                float64
COMMONAREA_MODE                 float64
ELEVATORS_MODE                  float64
ENTRANCES_MODE                  float64
FLOORSMAX_MODE                  float64
FLOORSMIN_MODE                  float64
LANDAREA_MODE                   float64
LIVINGAPARTMENTS_MODE           float64
LIVINGAREA_MODE                 float64
NONLIVINGAPARTMENTS_MODE        float64
NONLIVINGAREA_MODE              float64
APARTMENTS_MEDI                 float64
BASEMENTAREA_MEDI               float64
YEARS_BEGINEXPLUATATION_MEDI    float64
YEARS_BUILD_MEDI                float64
COMMONAREA_MEDI                 float64
ELEVATORS_MEDI                  float64
ENTRANCES_MEDI                  float64
FLOORSMAX_MEDI                  float64
FLOORSMIN_MEDI                  float64
LANDAREA_MEDI                   float64
LIVINGAPARTMENTS_MEDI           float64
LIVINGAREA_MEDI                 float64
NONLIVINGAPARTMENTS_MEDI        float64
NONLIVINGAREA_MEDI              float64
FONDKAPREMONT_MODE              object
HOUSETYPE_MODE                  object
TOTALAREA_MODE                  float64
WALLSMATERIAL_MODE              object
EMERGENCYSTATE_MODE             object
OBS_30_CNT_SOCIAL_CIRCLE        float64
DEF_30_CNT_SOCIAL_CIRCLE        float64
OBS_60_CNT_SOCIAL_CIRCLE        float64
DEF_60_CNT_SOCIAL_CIRCLE        float64
DAYS_LAST_PHONE_CHANGE          float64
FLAG_DOCUMENT_2                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
AMT_REQ_CREDIT_BUREAU_HOUR      float64
AMT_REQ_CREDIT_BUREAU_DAY       float64
AMT_REQ_CREDIT_BUREAU_WEEK      float64
AMT_REQ_CREDIT_BUREAU_MON       float64
AMT_REQ_CREDIT_BUREAU_QRT       float64
AMT_REQ_CREDIT_BUREAU_YEAR      float64
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [ ]:
app_train.shape